<!doctype html>
<html ng-app="agder">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="lib/angular.min.js" type="text/javascript"></script>
    <script src="lib/showdown.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>

    <link href='http://fonts.googleapis.com/css?family=Domine:400,700|Rufina|Sacramento|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link href='index.css' rel='stylesheet' type='text/css'>
    <title>
      Agders Projekt
    </title>
  </head>
  <body>
    <div class="container">
      <h1>Agders Projekt</h1>
      <p>Help poor Agder to improve his knowledge about Agda with this online judge!</p>
      <div ng-controller="ProblemsCtrl">
        <div ng-repeat="id in problems">
          <div class="problem-outer" ng-controller="ProblemCtrl">
            <h2 class="problem-title" ng-click="toggleShow()">{{ id }}
              <span ng-show="solved">&#10003;</span>
            </h2>
            <div class="problem" ng-show="show">
              <markdown ng-model="description"></markdown>
              <pre class="problem-definitions" ng-show="definitions">{{ definitions }}</pre>
              <textarea class="problem-input" rows="8" ng-model="problem"></textarea>
              <button ng-click="submit()">Submit solution</button>
              <pre class="problem-result" ng-show="!solved">{{ result }}</pre>
              <p ng-show="solved">Congratulations! You solved {{ id }}!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      Dan Rosén 2013, <a href="http://github.com/danr/agder">hosted on github</a>
    </div>
  </body>
</html>
