h1
  font:
    family: 'Sacramento', cursive
    size: 80px
    weight: normal
  color: #f7b
  margin: 0px
  text-align: center

p
  margin:
    left: 10px
    right: 10px

h2
  font:
    family: 'Rufina', sans-serif
    size: 28px
  color: #4b9
  margin:
    left: 10px
    bottom: 10px
    top: 10px

  &.problem-title
    cursor: pointer

a
  color: #4b9


div.nav
  display: table
  margin:
    left: auto
    right: auto

textarea
  font:
    family: 'Source Code Pro', monospace
    size: 12px

textarea.problem-input
  width: 100%
  border-width: 4px
  border-style: double
  border-color: #292
  padding: 1px

body
  margin: 0px
  padding: 0px
  background: url(floral.jpg)
  background-size: 350px auto

body, button, pre.problem-result
  font:
    family: 'Domine', serif
    size: 14px

button
  border-radius: 6px
  background: #ac4
  border: 1px solid #83c41a
  display: inline-block
  margin-top: 2px
  float: right
  padding: 3px 16px
  &:hover
    background-color: #9c3
  &:active
    position: relative
    top: 1px

div.problem
  margin:
    left: 20px
    right: 20px

div.container
  width: 600px
  margin-top: 15px
  margin-bottom: 15px

div.footer
  width: 250px
  text-align: center
  margin-top: 0px
  margin-bottom: 15px

div.container, div.footer
  background: #fff
  min-height: 100%
  padding: 5px
  margin:
    left: auto
    right: auto

  border-width: 4px
  border-style: double
  border-color: #292
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px

